{% extends 'base.html' %}

{% block content %}
    <h2>{{ object.name }}</h2>
    <h6>{{ object.description }}</h6>
    <!-- <img src=""> -->
    <p>{{ object.released }}</p>
    <p>{{ object.creator }}</p>
    {% if object.is_modified %}
        <p class="text-secondary">Edited</p>
    {% endif %}

    <a class="btn btn-outline-secondary" href="{% url 'games:game-update' object.pk %}">
        Update
    </a>
    <a class="btn btn-outline-danger" href="{% url 'games:game-delete' object.pk %}">
        Delete
    </a>
{% endblock %}