{% extends 'base.html' %}

{% block content %}
    <h2>{{ object.username }}</h2>
    <h4>{{ object.email }}</h4>
    <!-- <img src=""> -->
    <p>{{ object.country }}</p>
    <p>{{ object.dark_mode }}</p>
    <p>{{ object.discord }}</p>
    <p>{{ object.plan }}</p>
    <p>{{ object.status }}</p>

    <a class="btn btn-outline-secondary" href="{% url 'users:user-update' object.pk %}">
        Update
    </a>
    <a class="btn btn-outline-danger" href="{% url 'users:user-delete' object.pk %}">
        Delete
    </a>
{% endblock %}